body {
	background-color: #6441A4;
}

.main-title{
	text-align: center;
	color: #fff;
}

.images {
	margin-top: 30px;
}

.input-group{
	margin-top: 30px;
}

.thumbnail {
	text-align: center;
}

/* Navigation Tabs */

.tab-button{
	color: #fff;
}

.tab-button:hover{
	color: #6441A4;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #2C2541;
	color: #fff;
}

.nav-tabs {
    border-bottom: 2px solid #ddd;
}

/* Thumbnails */

.online-box{
	background-color: #97BA93;
	border: none;
}
