/*Background Design */

body {
	background-color: #2C2541;
}

.container{
	border-left: 1px solid #fff;
  border-right: 1px solid #fff;
	background-color: #6441A4;
	max-width: 900px;
}

/* Title */

.main-title{
	text-align: center;
	color: #fff;
}

.images {
	margin-top: 30px;
}

.input-group{
	margin-top: 30px;
}

.thumbnail {
	text-align: center;
}

/* Navigation Tabs */

.tab-button{
	color: #fff;
}

.tab-button:hover{
	color: #6441A4;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #2C2541;
	color: #fff;
}

.nav-tabs {
  border-bottom: 2px solid #ddd;
}

/* Thumbnails */

.online-box{
	background-color: #7EA87C;
	border: none;
}

.offline-box{
	background-color: #CA8A89;
	border: none;
}

.status{
	font-weight: bold;
}
